[submodule "Z4krsnd5"]
	path = Z4krsnd5
	url = https://snapchat.com/t/Z4krsnd5
[submodule "https://snapchat.com/t/Z4krsnd5"]
	path = https://snapchat.com/t/Z4krsnd5
	url = https://snapchat.com/t/Z4krsnd5
